@font-face {
  font-family: Imported;
  src: url(./assets/Font/HouschkaRoundedAlt-Medium.ttf);
}

body {
  margin: 0;
  font-family: Imported !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Imported !important;
}

#root {
  font-family: Imported !important;
}
